.footer__link{
color: white;
text-decoration: none;
margin-right: 18px;
font-size: 16px;
line-height: 18px;
font-weight: normal;
margin-bottom: 852px;
}
@media screen and (max-width: 767px){
.footer__link {
font-size: 24px;
line-height: 100%;
margin-bottom: 32px;
}
