.footer__links{
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 92px 0 0 0;

}
@media screen and (max-width: 1023px){
  .footer__links{
    margin-top: 88px;
      
  }
}
@media screen and (max-width: 767px){
  .footer__links{
    display: block;
    margin: 0;
      
  
  }
}