.place__paragraph{
    margin: 0 auto;
}

.place__paragraph:first-child{
    margin-top: 0;
}

@media screen and (max-width: 767px){
    .place__paragraph_text{
    width: calc(100% - 16px * 2);
    }
}