.place__links{
    align-self: end;
    display: block;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    align-self: flex-end;

    
}
@media screen and (max-width: 767px){
    .place__links{
        display: none;
    }
}
