.cover__title{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: white;
    font-size: 72px;
    line-height: 76px;
    width: 560px;
    height: 152px;
    position: relative;
    text-decoration: none;
    margin-bottom: 18px;
   
}

  @media screen and (max-width: 767px){
    .cover__title {
        width: 288px;
        font-size: 32px;
    line-height: 35px;  
    }
  }