.footer{
  display: flex;
  margin-bottom: 24px;
}
  
@media screen and (max-width: 767px){
  .footer{
    flex-direction: column;
    width: calc(100% - 16px * 2);
    margin: 64px auto 24px;
        
  }
}